
@{
    ViewBag.Title = "PriceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-price">
    <div class="container">
        <h1>Bảng giá chi tiết các dòng xe ôtô Honda</h1>
        <p><i>(*) Bảng giá xe được cập nhật thường xuyên và chính xác từ Honda Ôtô Việt Nam</i></p>
        <table>
            <tbody>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-jazz.html"><div class="thumb"><img src="~/Content/images/xe/thumb/1675_honda_jazz2.png" alt="Xe Honda Jazz" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/xe/thumb/1675_honda_jazz2.png" alt="Xe Honda Jazz" class="mobile" />
                        <h3>Honda Jazz</h3>
                        <div class="desktop">
                            <ul>
                                <li>D&ograve;ng xe hatchback&nbsp;5&nbsp;chỗ ngồi</li>
                                <li>Động cơ xăng&nbsp;1.5L</li>
                                <li>Hộp số: v&ocirc;&nbsp;cấp (ứng dụng EDT)</li>
                                <li>Hệ thống phun xăng điện tử</li>
                                <li>Phi&ecirc;n bản 2018&nbsp;nhập khẩu nguy&ecirc;n chiếc</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda Jazz 1.5 V<br><b>544,000,000VNĐ</b></li>
                            <li>Xe Honda Jazz 1.5 VX<br><b>594,000,000VNĐ</b></li>
                            <li>Xe Honda Jazz 1.5 RS<br><b>624,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-brio.html"><div class="thumb"><img src="~/Content/images/hondaoto.info/images/xe/thumb/brio.png" alt="Xe Honda Brio 2019" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/hondaoto.info/images/xe/thumb/brio.png" alt="Xe Honda Brio 2019" class="mobile" />
                        <h3>Honda Brio 2019</h3>
                        <div class="desktop">
                            <ul>
                                <li>D&ograve;ng xe hatchback&nbsp;5&nbsp;chỗ ngồi</li>
                                <li>Động cơ xăng&nbsp;1.2L</li>
                                <li>Hộp số: v&ocirc;&nbsp;cấp (ứng dụng EDT)</li>
                                <li>Hệ thống phun xăng điện tử</li>
                                <li>Phi&ecirc;n bản 2019&nbsp;nhập khẩu nguy&ecirc;n chiếc</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda Brio 2019 G<br><b>418,000,000VNĐ</b></li>
                            <li>Xe Honda Brio 2019 RS<br><b>448,000,000VNĐ</b></li>
                            <li>Xe Honda Brio 2019 RS 2 màu<br><b>452,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-city.html"><div class="thumb"><img src="~/Content/images/xe/thumb/city.png" alt="Xe Honda City" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/xe/thumb/city.png" alt="Xe Honda City" class="mobile" />
                        <h3>Honda City</h3>
                        <div class="desktop">
                            <ul>
                                <li>D&ograve;ng xe sedan 5&nbsp;chỗ ngồi</li>
                                <li>Động cơ xăng&nbsp;1.5L</li>
                                <li>Hộp số: v&ocirc;&nbsp;cấp CVT</li>
                                <li>Hệ thống phun xăng điện tử</li>
                                <li>Phi&ecirc;n bản 2019&nbsp;được lắp r&aacute;p trong nước</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda City 1.5 E<br><b>529,000,000VNĐ</b></li>
                            <li>Xe Honda City 1.5 CVT<br><b>559,000,000VNĐ</b></li>
                            <li>Xe Honda City 1.5 TOP<br><b>599,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-civic.html"><div class="thumb"><img src="~/Content/images/hondaoto.info/images/xe-honda-oto/civic.png" alt="Xe Honda Civic 2019" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/hondaoto.info/images/xe-honda-oto/civic.png" alt="Xe Honda Civic 2019" class="mobile" />
                        <h3>Honda Civic 2019</h3>
                        <div class="desktop"></div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda Civic 2019 E<br><b>729,000,000VNĐ</b></li>
                            <li>Xe Honda Civic 2019 E Trắng<br><b>734,000,000VNĐ</b></li>
                            <li>Xe Honda Civic 2019 G<br><b>789,000,000VNĐ</b></li>
                            <li>Xe Honda Civic 2019 G Trắng<br><b>794,000,000VNĐ</b></li>
                            <li>Xe Honda Civic 2019 RS<br><b>929,000,000VNĐ</b></li>
                            <li>Xe Honda Civic 2019 RS Trắng<br><b>934,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-cr-v.html"><div class="thumb"><img src="~/Content/images/xe/thumb/1675_honda_crv.png" alt="Xe Honda CR-V" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/xe/thumb/1675_honda_crv.png" alt="Xe Honda CR-V" class="mobile" />
                        <h3>Honda CR-V</h3>
                        <div class="desktop">
                            <ul>
                                <li>D&ograve;ng xe SUV 7 chỗ ngồi</li>
                                <li>Động cơ xăng&nbsp;1.5 VTEC TURBO</li>
                                <li>Hộp số v&ocirc; cấp CVT</li>
                                <li>Mạnh 188 HP - Rất tiết kiệm nhi&ecirc;n liệu</li>
                                <li>Phi&ecirc;n bản 2018&nbsp;nhập khẩu nguy&ecirc;n chiếc</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda CR-V E<br><b>983,000,000VNĐ</b></li>
                            <li>Xe Honda CR-V G<br><b>1,023,000,000VNĐ</b></li>
                            <li>Xe Honda CR-V L<br><b>1,093,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-accord.html"><div class="thumb"><img src="~/Content/images/hondaoto.info/images/xe-honda-oto/accord.png" alt="Xe Honda Accord 2019" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/hondaoto.info/images/xe-honda-oto/accord.png" alt="Xe Honda Accord 2019" class="mobile" />
                        <h3>Honda Accord 2019</h3>
                        <div class="desktop"></div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda Accord 2019 1.5 Turbo<br><b>1,319,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style=" text-align: center; " class="desktop">
                        <a href="xe-honda-hr-v.html"><div class="thumb"><img src="~/Content/images/xe/thumb/hr_v.png" alt="Xe Honda HR-V" /></div></a>
                        <a class="tool" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Đăng ký lái thử</a>
                        <a class="tool" href="@Url.Action("Cost","Home")">Dự toán chi phí</a>
                    </td>
                    <td>
                        <img src="~/Content/images/xe/thumb/hr_v.png" alt="Xe Honda HR-V" class="mobile" />
                        <h3>Honda HR-V</h3>
                        <div class="desktop">
                            <ul>
                                <li>D&ograve;ng xe Mini SUV 5 chỗ ngồi</li>
                                <li>Động cơ xăng&nbsp;1.5 VTEC TURBO</li>
                                <li>Hộp số v&ocirc; cấp CVT</li>
                                <li>Mạnh 188 HP - Rất tiết kiệm nhi&ecirc;n liệu</li>
                                <li>Phi&ecirc;n bản 2018&nbsp;nhập khẩu nguy&ecirc;n chiếc</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li>Xe Honda HR-V G<br><b>786,000,000VNĐ</b></li>
                            <li>Xe Honda HR-V L (Bạc/Xanh/Đen)<br><b>866,000,000VNĐ</b></li>
                            <li>Xe Honda HR-V L (Trắng/Đỏ)<br><b>871,000,000VNĐ</b></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clr"></div>
</section>
