
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-category">

    <div class="category-name">
        <div class="container">
            <h1 class="block-title">Các dòng xe ô tô Honda</h1>

            <div class="car">
                <a href="@Url.Action("ProductItem","Home")"><img class="right" src="~/Content/images/xe/thumb/1675_honda_jazz2.png" alt="Xe Honda Jazz"></a>
                <a href="xe-honda-jazz.html"><h3>Xe Honda Jazz</h3></a>
                <div class="price">Giá: 544,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-brio.html"><img class="right" src="~/Content/images/hondaoto.info/images/xe/thumb/brio.png" alt="Xe Honda Brio 2019"></a>
                <a href="xe-honda-brio.html"><h3>Xe Honda Brio 2019</h3></a>
                <div class="price">Giá: 418,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-city.html"><img class="right" src="~/Content/images/xe/thumb/city.png" alt="Xe Honda City"></a>
                <a href="xe-honda-city.html"><h3>Xe Honda City</h3></a>
                <div class="price">Giá: 529,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-civic.html"><img class="right" src="~/Content/images/hondaoto.info/images/xe-honda-oto/civic.png" alt="Xe Honda Civic 2019"></a>
                <a href="xe-honda-civic.html"><h3>Xe Honda Civic 2019</h3></a>
                <div class="price">Giá: 729,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-cr-v.html"><img class="right" src="~/Content/images/xe/thumb/1675_honda_crv.png" alt="Xe Honda CR-V"></a>
                <a href="xe-honda-cr-v.html"><h3>Xe Honda CR-V</h3></a>
                <div class="price">Giá: 983,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-accord.html"><img class="right" src="~/Content/images/hondaoto.info/images/xe-honda-oto/accord.png" alt="Xe Honda Accord 2019"></a>
                <a href="xe-honda-accord.html"><h3>Xe Honda Accord 2019</h3></a>
                <div class="price">Giá: 1,319,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
            <div class="car">
                <a href="xe-honda-hr-v.html"><img class="right" src="~/Content/images/xe/thumb/hr_v.png" alt="Xe Honda HR-V"></a>
                <a href="xe-honda-hr-v.html"><h3>Xe Honda HR-V</h3></a>
                <div class="price">Giá: 786,000,000₫<a class="fr" href="javascript:void(0);" onclick="$('#panel').fadeIn();">Lái thử</a> <a class="fr" href="@Url.Action("Cost","Home")">Dự toán</a></div>

            </div>
        </div>
    </div>			<div class="clr"></div>
</section>

